.bodyrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    width: 50%;
    margin: 0 auto;
    border-radius: 60px;
}
.bodyrow:hover{
    cursor: pointer;
    background-color: #eeebdd;
    opacity: 0.9;
    transition: background-color 250ms ease-in;
}
hr{
    width: 50%;
}