.createlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: 50%;
}
input{
    margin-top: 100px;
    width: 300px;
    padding: 2%;
    border-radius: 30px;
    font-size: 20px;
    outline: none;
}
button{
    width: 30%;
    color: gray;
    background-color: black;
    margin-top: 70px;
    padding: 1.5%;
    border-radius: 60px;
    font-weight: 800;
    cursor: pointer;
    font-size: 20px;
    border: none;
    outline: none;
}
button:hover{
    color: blue;
    transition: color 250ms ease-in;
}